/* Apply to everything on the site */
body {
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 16px;   
    line-height: 1.6;  
}

/* Top nav (black bar styles) - will make more compact later (MD) */
.top-nav {
    padding: 10px;
    height: 25px;
    /* width: 100%; */
    max-width: 100%;
    background-color: #262626;
    color: aliceblue;
}

.icon {
    padding: 0;
    /* background-color: blue; */
    /* margin-bottom: 0; */
    width: 20px;
    height: 20px;
    filter: invert(100%);

}

.top-nav-text {
    /* background-color: blue; */
    font-size: 14px;
    opacity: 80%;
    padding-left: 20px;
    padding-right: 20px;
    border-right: 1px solid aliceblue;


}

.top-nav-text2 {
    /* padding-right: 270px; */
}

.australia {
    padding-top: 2px;
    padding-left: 10px;
    padding-right: 120px;

}


.hyperlink {
    color: greenyellow;
}

.apply-button {
    margin-left: 10px;
    background-color: #ff4c4c;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    padding: 4px 10px;
    font-size: 12px;
}

.icon-tray {
    /* background-color: blue; */
    /* padding-left: 50px; */
    /* background-color: blue; */
    display: flex;
    flex-grow: 1;
    gap: 15px;
    justify-content: flex-end;
    /* border-left: 1px solid aliceblue; */

}
/* Top nav (black bar styles) end */

.hero-section {
    background-image: url(../assets/photo.jpg);
    background-size: cover;
    /* background: #ff4c4c; */
    /* height: 500px; */
    /* max-height: 100%; */
    padding-bottom: 50px;
    filter: brightness(70%);
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    /* gap: 530px; */
    align-items: center;
    padding-left: 30px;
    padding-top: 40px;
    /* background-color: aqua; */

}

.company-logo {
    width: 45px;
    height: 45px;
    padding: 2px;
    border-radius: 10px;
    /* filter: invert(100%); */
    background-color: #ff4c4c;

}

.company-logo img {
    width: 100%;
    height: 100%;
}

.site-title {
    margin-left: 20px;
    font-weight: 300;
    font-size: x-large;
    color: white;
    
}

.nav-list {
    color: white;
    font-weight: 300;
    padding-left: 0;
    margin-right: 30px;
    /* background-color: #ff4c4c; */
    display: flex;
    gap: 40px;
    list-style: none;
    justify-content: flex-end;
    font-size: large;
    

}

 a {
    color: inherit;
    text-decoration: none;
}

.nav-menu {
    margin-right: 15px;
    width: 35px;
    height: 35px;
    border-radius: 2px;
    background-color: #ff4c4c;
}
    
.hero-text-section {
    /* background-color: blue; */
    padding: 0;
    /* width: 850px; */
    max-width: 70%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;

}

.hero-phrase {
    text-align: center;
    color: white;
    font-weight: 500;
    font-size: 35px;
    letter-spacing: 1px;
    margin-bottom: 35px;

}

.hero-text{
    /* background-color: blue; */
    color: white;
    /* font-size:; */
    font-weight: 200;
}

.hero-text2 {
    padding-top: 15px;
    text-align: center;
    margin-bottom: 30px;
}

.more {
    background-color: greenyellow;
    color: black;
    border: none;
    border-radius: 7px;
    padding: 13px 15px;
    font-weight: 300;
}

/* Start of main body styles */

.why-choose-us {
    background-color: white;
    filter: brightness(96%);    
    text-align: center;
    padding-top: 30px;
    padding-bottom: 50px;

}

/* Button */
.choose-us-title {
    width: 30%;
    margin: auto;
    background-color: white; 
    margin-top: 20px;
    margin-bottom: 25px;
    border-radius: 15px;  
    font-size:xx-large;     
    font-weight: 300;    
    border: 1px solid;   
}


.choose-us-description {
    font-weight: 300; 
    font-size: 14px; 
    margin-top: 10px;
    margin-bottom: 25px;

}

.statistics-grid {
    /* width: 40%; */
    max-width: 60%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 25px; 
}


.statistics-card {
    padding: 25px;
    text-align: left; 
    border-radius: 15px; 

}


.pink-card { background-color: #fecdd3;
 } 

.green-card { background-color: #bbf7d0; 
}  

.blue-card { background-color: #93c5fd; 
}   


.statistics-card h4 {
    margin: 0;
    margin-bottom: 5px;
    padding: 0;
    font-weight: 500; 
    font-size: x-large; 
}

.statistics-card p {
    margin: 0;
    padding: 0;
    font-weight: 300; 
    font-size: 14px; 
}

.ending-section {
    height: 150px;
    background-color: #262626;
    
}


.ending-container {
    /* background-color:blue; */
    padding-top: 25px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 70%;
}

.ending-container-left-part {
    display: flex;
    align-items: center;
}

.repo-text{
    /* background-color: blue; */
    color: white;
    /* font-size:; */
    font-size: 14px;
    font-weight: 200;
}

  




/* Responsive webpage */


@media (max-width: 480px) {
    .statistics-grid {
        grid-template-columns: repeat(1, 1fr) !important;

    }

    .top-nav {
        display: none !important;
    }

    .nav-list {
        display: none;
    }

    .nav-bar {
        padding-left: 10px;
        padding-top: 0px;
    }

   .choose-us-title {
    width: 70% !important;
   }

   .statistics-card {
    text-align: center;
   }

   .ending-title {
    display: none;
   }

}

@media (max-width: 1200px) {
      .statistics-grid {
        grid-template-columns: repeat(2, 1fr);

    }

    .top-nav-text {
        display: none; 
    }

      .nav-list {
        display: none;
    }

    .nav-bar {
        padding-left: 10px;
        padding-top: 0px;
    }



    .choose-us-title {
    width: 60%;
   }

   .statistics-card {
    text-align: center;
   }


    
}