/*Apply backgroun image to the body*/
body {
    background-image: url("../images/recruitment_background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}
    
header {
    text-align: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.85); /* want to ensure we can read the text*/
}

header img {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #f4f4f4;
}

header img {
    margin-right: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #333;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding:10px 15px 
}

nav ul li a:hover {
    background-color: #555;
}

footer {
    text-align: center;
    padding: 15px;
    background-color: #f2f2f2;
    margin-top: 20px;
}